*{
    margin: 0px;
    padding: 0px;
    font-family: 'alfa slab one',cursive;

}
body{
    display: flex;
    justify-content: center;
    background: #a8a8a8;

}
.container{
    position: relative;
    width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    /* margin-top: 20px; */
    flex-wrap: wrap;
    
}
.container,.card{
    width: 308px;
    position: relative;
    height: 400px;
    background: #f0f0f0;
    margin:30px 10px ;
    /* padding: ; */
    display: flex;
    flex-direction: column;
     box-shadow: 0.5px 10px #e6e6e6 ;
transition: 0.3s ease-in-out;
margin-top: 5px;

    }
    .container, .card, .imgbx{
       position: relative;
       width: 380px; 
      height: 500px; 
      top: 30px; 
      left: 20px;
      box-shadow: 0 5px 20px rbga (0,0,0,1.2);
    /* align-items: space-between; */

    }
    .container,.card, .imgbx img{
        max-width: 100%;
        border-radius: 20%;
        /* width: 100%;
        height: 100%;
         */
    }
    .imgbx:hover img{
        transform: scale(1.1);
    }